<%- include('./partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="day">
            <h2><%= new Date().toLocaleString('default', {weekday:'long'}); %>,<%= new Date().toLocaleString('default', {month: 'long'});  %> <%= new Date().getDate() %>,<%= new Date().getFullYear();  %></h2>
        </div>
        <div class="body">
            <%if(locals.arr){%>
                <% for(let i = 0; i<arr.length; i++) {%>        
                    <li>
                    <%=arr[i]%>
                    </li>
                <% } %>
            <%}else{%>
                <h1>enter value</h1>
            <%}%>
            <form action="/submit" method="post">
                <div class="input-type">
                <input id="input" type="text" name="fname" placeholder="enter data...">
                <input id="button" type="submit" value="Add">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<%- include('./partials/footer.ejs') %>